.chart_options_container {
    height : 115px;
    width : 290px;
    border : 1px solid gray;
}

.chart_options_header {
    font-weight: bold;
}

.plot_enables {

}

.pe_heading {
    padding-right: 180px;
    font-size: 15px;
    font-weight: bold;
}
.button_line1 {
    display : flex;
}

.ch_op_button {
    border : 1px solid gray;
    background-color: lightgoldenrodyellow;
    height : 30px;
    margin-left : 5px;
    width : 140px;
}

.button_line2 {
    display : flex;
    margin-top: 5px;
} 
